.sort-btn{
    margin-left:6px;
    background: none;
    /* background: #f5f6fa; */
    border: none;
    padding: 4px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 1.2em;
    color: black;
    transition: color 0.2s;
    min-width: 20px;
}
.sort-btn:hover {
    background: #e5e7eb;
    color: black;
}