<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/signup.css">
</head>
<body>
    
    <h2 style="text-align:center; margin: 32px 0;">Select your role:</h2>
    <div style="display: flex; gap: 32px; margin-bottom: 32px; justify-content: center;">
        <button id="show-member" type="button" class="role-btn">Member</button>
        <button id="show-admin" type="button" class="role-btn">Admin (officer)</button>
    </div>
    <form id="admin-form" action="/admin/request/submit" method="post" style="display:none;">
        <h2>Request to join admins</h2>
        <label>First Name:</label>
        <input type="text" name="fname" placeholder="Enter your first name" required>
        <label>Last Name:</label>
        <input type="text" name="lname" placeholder="Enter your last name" required>
        <label>Student ID:</label>
        <input type="text" name="sid" placeholder="Enter your student ID" required>
        <label>Grade: (9, 10, 11, 12)</label>
        <input type="text" name="grade" placeholder="Enter your grade" required>
        <label>Math Class:</label>
        <input type="text" name="math_class" placeholder="Enter your math class" required>

        <input type="submit" value="Submit request">
    </form>

    <form id="member-form" action="/member/join/submit" method="post" style="display:none;">
        <h2>Join as member</h2>
        <label>First Name:</label>
        <input type="text" name="fname" placeholder="Enter your first name" required>
        <label>Last Name:</label>
        <input type="text" name="lname" placeholder="Enter your last name" required>
        <label>Student ID:</label>
        <input type="text" name="sid" placeholder="Enter your student ID" required>
        <label>Grade: (9, 10, 11, 12)</label>
        <input type="text" name="grade" placeholder="Enter your grade" required>
        <label>Math Class:</label>
        <input type="text" name="math_class" placeholder="Enter your math class" required>
        
        <input type="submit" value="Join!">
    </form>
    <style>
        
    </style>
    <script>
        document.getElementById('show-member').onclick = function() {
            document.getElementById('member-form').style.display = 'block';
            document.getElementById('admin-form').style.display = 'none';
        };
        document.getElementById('show-admin').onclick = function() {
            document.getElementById('admin-form').style.display = 'block';
            document.getElementById('member-form').style.display = 'none';
        };
    </script>
</body>
</html>