<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export Data</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/navbar.css">
</head>
<body>
    <div class="container">
        <h3>Download full record (only approved hours):</h3>
        <a href="/export/xlsx">Excel spreadsheet (.XLSX)</a>
    </div>

    <!-- NAV BAR -->
    <div id="navbar" class="navbar">
        <button id="nav-toggle" class="nav-toggle">☰</button>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            
        </ul>
        {% if session.get('userinfo')['status'] == 'approved' %}
        <ul class="nav-links">
            <h2 class="nav-header">ADMIN AREA:</h2>
            <li><a href="/events">Events</a></li>
            <li><a href="/entries/pending">Pending Entries</a></li>
            <li class="current"><a href="/export">Export Data</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        {% endif %}
    </div>
    <script>
    document.getElementById('nav-toggle').onclick = function() {
        var navbar = document.getElementById('navbar');
        navbar.classList.toggle('collapsed');
        // document.querySelectorAll('.container').forEach(function(c) {
        //     c.style.marginLeft = navbar.classList.contains('collapsed') ? '60px' : '220px';
        // });
    };
    </script>
    <!-- END OF NAV BAR -->
</body>
</html>